{% extends "_layout.html" %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center text-gray-800 mb-4">About Us</h1>
    <p class="text-lg text-gray-600 text-center mb-8">
      At AFC Fitness, we're passionate about helping you achieve your health and fitness goals, no matter your level of experience or fitness background. Whether you're just starting your fitness journey or you're a seasoned athlete, we're here to support and inspire you every step of the way.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="border p-4 rounded-lg">
            <h2 class="text-2xl font-semibold text-left"><strong>Our Mission</strong></h2>
            <p class="text-left mt-2">
                Our mission at AFC Fitness is simple: to empower individuals to lead healthier, happier lives through fitness, nutrition, and community. We believe that everyone deserves access to the resources and support they need to reach their full potential, both physically and mentally.
            </p>
        </div>

        <div class="border p-4 rounded-lg">
            <h2 class="text-2xl font-semibold text-left"><strong>What We Offer</strong></h2>
            <ul class="list-disc pl-5 text-left mt-2">
                <li><strong>Nutrition Tracking:</strong> Set macro goals and track progress.</li>
                <li><strong>Community Support:</strong> Connect with fellow fitness enthusiasts on a public forum.</li>
                <li><strong>Fitness Guidance:</strong> Get advice from a virtual assistant chatbot.</li>
                <li><strong>Workout Resources:</strong> Access extensive workouts lists for every muscle group.</li>
                <li><strong>Fitness Finder:</strong> Discover nearby places to excercise and eat well.</li>
            </ul>
        </div>
    </div>

    <div class="border p-4 rounded-lg mt-8">
        <h2 class="text-2xl font-semibold text-left"><strong>Our Team</strong></h2>
        <p class="text-left mt-2">
            Behind AFC Fitness is a team of passionate individuals committed to your health and fitness success. Our team includes software engineers, designers, fitness trainers, and nutritionists.
        </p>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-4">
            <div><p class="text-center">Andrew Schmal</p></div>
            <div><p class="text-center">Tommy Nguyen</p></div>
            <div><p class="text-center">Cameron Copenhaver</p></div>
            <div><p class="text-center">Shubi Gaur</p></div>
        </div>
    </div>

    <h2 class="text-2xl font-semibold text-left mt-8"><strong>Join Us Today!</strong></h2>
    <p class="text-left mt-2">
        Ready to take the first step towards a healthier, happier you? Join the AFC Fitness community today and start your journey towards a fitter, stronger, and more vibrant you. Together, we'll achieve greatness!
    </p>
</div>
{% endblock %}
