{% extends "_layout.html" %}

{% block content %}
<div class="flex justify-center items-center h-screen"> <!-- Use flexbox to center content vertically and horizontally -->
  <div class="w-full max-w-lg">

    <div class="mb-12"></div> <!-- Spacer -->

    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <h2 class="text-4xl font-bold mb-4">Forgot Password</h2>
      <p>Don't worry, we got you! Just enter the email you used to sign up below!</p>

      <!-- Forgot Password Form -->
      <form action="{{ url_for('send_reset_email') }}" method="POST" class="mt-4"> <!-- Add margin top for spacing -->
        <input type="email" name="email" placeholder="Your Email Address" required class="w-full bg-gray-200 rounded py-2 px-4 mb-4">
        <input type="hidden" name="email" value="{{ user_email }}">
        <button type="submit" class="w-full bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Reset Password
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
