<!-- NOT OFFICIAL -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button Sales</title>
  <!--<link rel="stylesheet" href="styles.css">-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!--Custom JS-->
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>


    
  </head>





<body>
</body>
</html>
