{% extends "_layout.html" %}

{% block content %}
<div class="canvas-paper"></div>
<div class="canvas-paper">
<div>
    <div class="w-full py-24 px-6 text-center">
      <p class="text-4xl font-bold text-gray-800 mb-4">Welcome to AFC Fitness Tracker</p>
      <p class="text-gray-600">Track your fitness progress, participate in forums, and much more</p>
      <div class="justify-center mt-8 flex">
        <a href="/signup" class="px-8 py-2 bg-indigo-600 text-white rounded-md">Get Started</a>
      </div>
    </div>
</div>
</div>
{% endblock %}