{% extends "_layout.html" %}

{% block content %}
    <h2>Glad to see you made an account with us!</h2>
    <p>Before utilizing the application, we recommend you fill up the form accordingly.</p>
    <br>
    <form method="post" action="/submit-question">
        <label for="question">What is your current weight?</label><br>
        <input type="text" id="question" name="question" required><br><br>
        <label for="question">What is your current height?</label><br>
        <input type="text" id="question" name="question" required><br><br>
        <button type="submit">Submit</button>
    </form>
    <form action="/logout" method ="post">
        <button type="submit" class="btn btn-danger">Log out!</button>
    </form>
{% endblock %}
