{% extends "_layout.html" %}

{% block content %}
<style>
    /* Define a CSS style for larger headings */
    .big-heading {
        font-size: 36px; /* Adjust the font size to your preference */
        font-weight: bold; /* Optionally, make the text bold */
        /* You can add more styling properties as needed */
    }
</style>
<!-- Flash message -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }} text-center mt-4">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
    <div class="container text-center mt-5">
        <h2 class="big-heading">We are happy you chose us, <b>{{ user.username }}!</b></h2>
        <br>
        <p>Before utilizing the application, we recommend you fill out the form so we can give you the best advice that you need!</p>
        
        <form method="post" action="/submit_question" class="mt-4">
            <label for="weight">What is your current weight?</label><br>
            <input type="number" id="weight" name="weight" placeholder="Weight in lbs" required><br><br>
            <label for="height">What is your current height?</label><br>
            <input type="number" id="height" name="height" placeholder="Height in cm" required><br><br>
            <label for="gender">What is your gender?</label><br>
            <select id="gender" name="gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>>
            </select><br><br>
            <label for="dob">What is your day of birth?</label><br>
            <input type="date" id="dateofbirth" name="dateofbirth" required><br><br>
            <button type="submit" class="btn btn-success btn-lg">Submit</button>
        </form>
    </div>
{% endblock %}
