{% extends "_layout.html" %}

{% block content %}
<h2>Workout Log Form</h2>

<form action="{{ url_for('workouttracker') }}" method="post">

<label for="exerciseName">Exercise Name:</label><br>
<input type="text" id="exerciseName" name="exerciseName" required><br><br>

<label for="equipment">Equipment:</label><br>
<input type="text" id="equipment" name="equipment" required><br><br>

<label for="targetMuscle">Target Muscle:</label><br>
<input type="text" id="targetMuscle" name="targetMuscle" required><br><br>
  
<label for="duration">Duration (minutes):</label><br>
<input type="number" id="duration" name="duration" required><br><br>

<label for="startDateTime">Start Time:</label><br>
<input type="time" id="startDateTime" name="startDateTime" required><br><br>
    
<label for="endDateTime">End Time:</label><br>
<input type="time" id="endDateTime" name="endDateTime" required><br><br>

<input type="submit" value="Submit">
</form> 

<h2>Workout Log Table</h2>

<table>
  <tr>
    <th>Exercise Name</th>
    <th>Equipment</th>
    <th>Target Muscle</th>
    <th>Duration (minutes)</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  {% for log in workout_logs %}
  <tr>
    <td>{{ log.ExerciseName }}</td>
    <td>{{ log.Equipment }}</td>
    <td>{{ log.TargetMuscle }}</td>
    <td>{{ log.Duration }}</td>
    <td>{{ log.StartDateTime }}</td>
    <td>{{ log.EndDateTime }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}