{% extends "_layout.html" %}

{% block content %}
<div class="canvas-paper"></div>
<div class="canvas-paper">
    <div class="w-full py-24 px-6 text-center">
        <h1 class="text-4xl font-bold text-gray-800 mb-4">Workouts</h1>
        <p class="text-gray-600">Here you will find a list of exercises!</p>
        <img src="\static\images\workout.png" class="mx-auto block mt-4 w-64 h-64 object-cover">
    </div>
</div>

<div class="flex justify-center items-center">
    <div class="w-full max-w-7xl">
        <div class="bg-white shadow-xl rounded px-8 pt-6 pb-8 mb-4"
            style="border-top: 2px solid rgba(0, 0, 0, 0.05); box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);">
            <div class="flex">
                {% for section in ['Chest', 'Back', 'Arms', 'Legs'] %}
                <a onclick="loadExercises('{{ section|lower }}')" class="cursor-pointer w-full max-w-80 mr-4">
                    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                        <div class="border-b border-gray-200 pb-4 mb-4">
                            <div class="flex items-center">
                                <img src="\static\images\{{ section|lower }}.png" class="w-16 h-16 object-cover mr-4">
                                <div>
                                    <h3 class="text-lg font-semibold mb-2">{{ section }}</h3>
                                    <p class="text-gray-600">List of {{ section }} Exercises</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <!-- New div for exercise display and search functionality -->
            <div class="exercise-display mt-4">
                <!-- Search bar for exercises, initially hidden -->
                <input type="text" id="exerciseSearchInput" placeholder="Search exercises..."
                    class="hidden w-full p-2 border border-gray-300 rounded mb-4">
                <!-- Container where exercises will be displayed -->
                <div id="exercisesList">
                    <!-- Dynamic content will be loaded here -->
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /* General styles for the exercise display area */
    .exercise-display {
        margin-top: 20px;
    }

    .exercise-container {
        cursor: pointer;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        background-color: #f9f9f9;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    .exercise-container:hover {
        background-color: #e9e9e9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .exercise-detail {
        display: flex;
        flex-direction: column;
        /* Stack children vertically */
        align-items: center;
        /* Center children horizontally */
        overflow: hidden;
        height: 0;
        transition: height 0.8s ease-in-out, padding 0.8s ease-in-out;
        padding: 0 10px;
    }

    .exercise-container.active .exercise-detail {
        padding: 10px;
    }


    .exercise-container img {
        max-width: 100%;
        height: auto;
    }

    .exercise-container h3 {
        margin: 0;
        color: #333;
        font-size: 18px;
    }

    .exercise-container p {
        color: #666;
        font-size: 16px;
        line-height: 1.4;
    }

    .exercise-header {
        display: flex;
        justify-content: space-between;
        /* Aligns items on the horizontal line, spacing them */
        align-items: center;
        /* Centers items vertically within the container */
        margin-bottom: 10px;
        /* Space between header and detail section */
    }

    .favorite-btn {
        cursor: pointer;
        color: gray;
        /* Default color for non-favorite */
        font-size: 24px;
        /* Adjust size as necessary */
    }

    .favorite-btn.fas {
        color: gold;
        /* Color when favorited */
    }
</style>

<script>
    // Display || API parameters
    const muscleMap = {
        "chest": "chest",
        "back": "back",
        "arms": ["lower arms", "upper arms"],
        "legs": ["lower legs", "upper legs"]
    };

    function loadExercises(muscle) {
        const exercisesContainer = document.querySelector('#exercisesList');
        const searchBar = document.querySelector('#exerciseSearchInput');
        exercisesContainer.innerHTML = '';  // Clear previous exercises
        searchBar.classList.remove('hidden');  // Show the search bar

        const apiMuscles = muscleMap[muscle.toLowerCase()];
        if (Array.isArray(apiMuscles)) {
            apiMuscles.forEach(apiMuscle => {
                fetchExerciseData(apiMuscle);
            });
        } else {
            fetchExerciseData(apiMuscles);
        }
    }

    function fetchExerciseData(apiMuscle) {
        fetch('/exercises/' + apiMuscle)
            .then(response => response.json())
            .then(data => {
                console.log(data);  // Log the data to inspect its structure
                processExerciseData(apiMuscle, data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function processExerciseData(muscle, data) {
    const exercisesContainer = document.querySelector('#exercisesList');
    let htmlContent = `<h2 style="text-transform: capitalize; font-size: 24px; font-weight: bold;">${muscle} Exercises</h2>`;
    data.exercises.forEach(exercise => {
        const instructions = exercise.instructions || 'No instructions provided.';
        const gifUrl = exercise.gifUrl || '/static/images/placeholder.gif'; // Placeholder if no GIF
        const isFavorite = exercise.isFavorite; // This should be returned by your backend

        htmlContent += `
<div class="exercise-container">
    <div class="exercise-header">
        <h3><strong>${toTitleCase(exercise.name)}</strong></h3>
        <i class="${isFavorite ? 'fas' : 'far'} fa-star favorite-btn" onclick="toggleFavorite(this, '${exercise.name.replace("'", "\\'")}')"></i>
    </div>
    <div class="exercise-detail">
        <img src="${gifUrl}" alt="Exercise GIF" style="display: block; margin-left: auto; margin-right: auto; height: auto; border: 2px solid black; margin-bottom: 20px;">
        <p>${instructions}</p>
    </div>
</div>
`;
    });
    exercisesContainer.innerHTML = htmlContent;
    setupExerciseContainerToggle(); // Ensures setup is refreshed each time new content is loaded
}




    function toTitleCase(str) {
        return str.replace(/\w\S*/g, function (txt) {
            return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
        });
    }

    function setupExerciseContainerToggle() {
        document.querySelectorAll('.exercise-container').forEach(container => {
            container.addEventListener('click', function () {
                const detail = this.querySelector('.exercise-detail');
                if (detail.style.height && detail.style.height !== '0px') {
                    detail.style.height = '0px'; // Collapse the panel
                } else {
                    detail.style.height = detail.scrollHeight + 'px'; // Expand the panel
                }
            });
        });
    }

    document.getElementById('exerciseSearchInput').addEventListener('input', function (e) {
        const searchValue = e.target.value.toLowerCase();
        const exerciseElements = document.querySelectorAll('.exercise-container');
        exerciseElements.forEach(el => {
            const title = el.querySelector('h3').textContent.toLowerCase();
            if (title.includes(searchValue)) {
                el.style.display = '';
            } else {
                el.style.display = 'none';
            }
        });
    });

    function toggleFavorite(element, exerciseName) {
        element.classList.toggle('fas'); // Toggle filled star class
        element.classList.toggle('far'); // Toggle empty star class

        // Depending on current status, update server
        const isFavorite = element.classList.contains('fas'); // Check if it's now a favorite

        fetch('/toggle_favorite', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ exerciseName, isFavorite })
        })
            .then(response => response.json())
            .then(data => {
                if (!data.success) {
                    // If the server toggling failed, revert the icon change
                    element.classList.toggle('fas');
                    element.classList.toggle('far');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // In case of error, revert the icon change
                element.classList.toggle('fas');
                element.classList.toggle('far');
            });
    }


</script>

{% endblock %}